{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "react-refresh/babel"
  ],
  "env": {
    "development": {
      "plugins": ["react-refresh/babel"]
    }
  }
}